aws_access_key = "access_key"
aws_secret_key = "secret_key"
aws_token = "token"
ec2_key_name = "key_pair_name"
aws_account_id = "aws_account_id"
aws_role_name = "LabRole"
private_key_path = "key_pair_name.pem"


